<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_layouts/head'); %>
        <link rel="stylesheet" href="../css/card.min.css" />
        <link rel="stylesheet" href="../css/grid.min.css" />
        <link rel="stylesheet" href="../css/button.min.css" />
</head>

<body>
    <a href="/admin/portfolios/newPortfolio" class="ui secondary button">
      New Portfolio
    </a>
    <a href="/admin/pages/newPage" class="ui secondary button">
      New Page
    </a>
    <a href="/logout" class="ui secondary button">
      Logout
    </a>
    <h1>Portfolios</h1>
    <div class="ui grid">
        <%if(portfolios){ portfolios.forEach(portfolio=>{%>
            <div class="four wide column">
                <div class="ui card">
                    <div class="image">
                        <img src="img/<%= portfolio.image %>" />
                    </div>
                    <div class="content">
                        <a href="<%= 'portfolios/edit/'+portfolio.id%>" class="header">
                            <%= portfolio.label%>
                        </a>
                        <div class="description">
                            <%- portfolio.text%>
                        </div>
                        <a href="/admin/portfolios/delete/<%=portfolio.id%>">delete</a>
                    </div>
                </div>
            </div>
            <%})}%>
    </div>
    <h1>Pages</h1>
    <div class="ui grid">
        <%if(pages){ pages.forEach(page=>{%>
            <div class="four wide column">
                <div class="ui card">
                    <div class="image">
                        <img src="/img/<%= page.image%>" />
                    </div>
                    <div class="content">
                        <a href="/admin/pages/edit/<%= page.id%>" class="header">
                            <%= page.name%>
                        </a>
                        <div class="description">
                            <%- page.text%>
                        </div>
                        <a href="/admin/pages/delete/<%=page.id%>">delete</a>
                    </div>
                </div>
            </div>
            <%})}%>
    </div>
</body>

</html>